<div style="display: block;">
<p>
- Device Info ----------------------------------------
</p>
<ul>
    <li>Name: <%= name%>
    <li>Class name: <%= classname%>
    <li>Host name: <%= hostname%>
    <li>Version: <%= version%>
    <li>Server: <%= server%>
    <li>Server PID: <%= pid%>
    <li>Exported: <%= exported%>
    <li>Last exported: <%= last_exported%>
    <li>Last unexported: <%= last_unexported%>
</ul>
</div>
