<div style="display: block;">
<p>
- Device Info ----------------------------------------
</p>
<ul>
    <li>Name: <%= name%>
    <li>Admin: <%= admin%>
    <li>Class name: <%= device_class%>
    <li>Host name: <%= host%>
    <li>Version: <%= idl%>
    <li>Server PID: <%= pid%>
    <li>Exported: <%= exported%>
    <li>Started at: <%= started_at%>
    <li>Stopped at: <%= stopped_at%>
</ul>
</div>
